---
const { title, repo } = Astro.props;
---

<project-card data-repo={repo} class="p-4 bg-white shadow rounded">
    <a href={`https://github.com/${repo}`} target="_blank" class="flex items-center hover:underline">
        <h4 class="font-semibold text-lg pr-2">{title}</h4>
        <i class="fa-solid fa-up-right-from-square text-sm"></i>
    </a>
    <slot class="text-sm text-gray-500" />

    <!-- Language Breakdown -->
    <div class="mt-3 text-sm">
        <div id=`${repo}-language-tags` class="flex flex-wrap items-center gap-2 mt-1"></div>
    </div>

    <!-- Animated Progress Bar -->
    <div class="mt-2 flex h-2 rounded-full bg-gray-200 overflow-hidden" id=`${repo}-language-progress`></div>

    <!-- GitHub Stats -->
    <div class="mt-3 flex items-center text-sm text-gray-600">
        <i class="fa-solid fa-star mr-1"></i>
        <span id=`${repo}-stars`>-</span>
        <i class="fa-solid fa-code-fork ml-3 mr-1"></i>
        <span id=`${repo}-forks`>-</span>
    </div>
</project-card>

<script>
    import { fetchGitHubData, updateGithubContent } from "@scripts/updateGithubContent.ts";

    class ProjectCard extends HTMLElement {
        connectedCallback() {
            const repo = this.dataset.repo;

            fetchGitHubData(repo!).then((repoData) => {
                if (repoData) {
                    console.log("Loading Github Content");
                    try {
                        updateGithubContent(repoData);
                    } catch (error) {
                        console.error("Error in updateGithubContent:", error);
                    }
                } else {
                    console.error("Failed to load repo data!");
                }
            });
        }
    }
    customElements.define('project-card', ProjectCard);
</script>
